langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-groq

chromadb
sentence-transformers

streamlit

pandas
scipy
numpy
requests

python-dotenv
openpyxl

pydantic
typing-extensions
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub
